<html>


<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Continent GDP Analyzer</b> button a web page will be generated that will show the plot of the GDPperCap by continent and you can view the raw values reported from the function.</p>

<!--begin.rcode
calcGDPcont <- function(dat, year=NULL, continent=NULL) 
  {
  if(!is.null(year)) {
    dat <- dat[dat$year %in% year, ]
  }
  if (!is.null(continent)) {
    dat <- dat[dat$continent %in% continent, ]
  }
  gdp <- dat$pop * dat$gdpPercap
  new <- cbind(dat, gdp=gdp)
  return(new)
}
end.rcode-->
<!--begin.rcode

end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
ggplot(data = gapminder, aes(x = continent, y = gdpPercap, by=lifeExp, color=continent)) +
  geom_point()
end.rcode-->

</body>
</html>
